body{
  margin: 0;
}

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

.form-page-container{
  background-color: #fafafa;
}

.homepage-container {
  margin: 0;
  background-color: #fafafa;
}

.nav-logo{
  font-family: 'Fugaz One', cursive;
  color: white;
  margin-left: 1em;
}

nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: #244E6B;
}

.nav-list{
  display: flex;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
}

.signup{
  color: black;
  margin-left: 1em;
  margin-right: 1em;
  background-color: white;
  padding: .5em 1em;
  cursor: pointer;
  border: 2px solid black;
  box-shadow: 5px 4px 0px 2px rgba(0,0,0,1);
}

.login{
  padding: .5em 1em;
  cursor: pointer;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-form{
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin-top: 3em;
}

.activity-form-container{
  font-family: 'Montserrat', sans-serif;
  padding: 1em;
  text-align: center;
  background-color: white;
  box-shadow: 5px 4px 0px -1px rgba(0,0,0,1);
  border: 1px solid black;
  border-radius: 8px;
  height: 464px;
}

.activity-page-container{
  height: 100vh;
}

.homepage-card-container{
  /* background-color: #A5B2D7; */


}


.form-input{
  margin-bottom: 2em;
  border-radius: 8px;
  padding: .75em;
  width: 90%;
}

.search{
 margin-left: 2em;
 margin-bottom: 2em;
}

.search-input{
  border-radius: 8px;
  padding: .75em;
}
.activity-btn{
  width: 50%;
  padding: .5em;
  background-color: #C94B2F;
  box-shadow: 3px 3px 0px -1px rgba(0,0,0,1);
  border: 1px solid black;
  border-radius: 8px;
}

.card-text{
  margin: .1em;
  color: black;
}

.activity-card{
  display: flex;
  border: 1px solid #ebe8e7;
  border-radius: 0 0 15px 15px;
  border-top: none;
  box-shadow: 3px 3px 1px 1px rgba(0,0,0,.2);
  border-radius: 8px;
  width: 83%;
  margin-bottom: 1em;
}

.activity-card-img{
  width: 31%;
  min-height: 149px;
  object-fit: cover;
  align-self: flex-start;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px
}



.text{
  flex: 1 1 auto;
  margin-left: 1em;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

#date{
  font-weight: bold;
}

.wavy{
  --mask:
  radial-gradient(10.08em at 50% calc(100% - 13.75em),#000 99%,#0000 101%) calc(50% - 10em) 0/20em 100%,
  radial-gradient(10.08em at 50% calc(100% + 8.75em),#0000 99%,#000 101%) 50% calc(100% - 5em)/20em 100% repeat-x;
-webkit-mask: var(--mask);
        mask: var(--mask);
}

.welcome-title{
  font-family: 'Fugaz One', cursive;
  padding-bottom: 5em;
}
.welcome-title > p{
  font-family: 'Montserrat', sans-serif;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 1rem;
  line-height: 1.5em;
  color: black;
  text-shadow: 4px 2px 6px rgba(123, 128, 119, 1);
  text-shadow: #E5D9C8;
}

.bonds{
  margin-bottom: 0;
  color: #244E6B;
  margin-left: .5em;
  font-size: 3rem;
}

.homepage-right-img{
 width: 50%;
}

.hero-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
  background-size:cover;
  -webkit-animation: slidein 100s;
  animation: slidein 100s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;
  animation-direction: alternate;   
  
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
  
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

.left-nav{
  display: flex;
  align-items: center;
}

.activity-card-container, .page-navigation{
  display: flex;
  justify-content: center;
}

.activity-card-container{
  flex-direction: column;
  align-items: center;
}



.add-activity-btn{
  color: black;
  font-size: 1rem;
  margin-left: 1em;
  margin-right: 1em;
  background-color: white;
  padding: .75em 1em;
  cursor: pointer;
  border: 2px solid black;
  box-shadow: 3px 3px 0px 1px rgba(0,0,0,1);
  border-radius: 8px;
}

.edit-btn{
  color: black;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: white;
  padding: .5em 1em;
  cursor: pointer;
  border: 2px solid black;
  box-shadow: 3px 3px 0px -1px rgba(0,0,0,1);
  border-radius: 8px;
}

.edit-btn-center{
  display: flex;
}

.upcoming-title{
  margin-left: 1em;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}


.activity-hero{
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  background-color:#244E6B;;
  padding-bottom: 9em;
  margin-top: -1em;
  padding-left: 1em;
  color: white;
}


.activity-hero > h1{
  font-family: 'Fugaz One', cursive;
  
}

.activity-hero > p {
  margin-top: 0;
  margin-bottom: 0;
  
}

.adventure{
  color: #C94B2F;
  margin-top: 0;
  margin-left: .5em;
  font-size: 3rem;
}

.details-img{
  width: 100%
}

.details-container{
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  padding-bottom: 2.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.enroll-container{
  display: flex;
  justify-content: space-around;
  position: sticky;
  background-color: white;
  height: 70px;
  z-index: 1;
}

.date-activity{
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.details-btns{
  margin-top: 1em;
  width: 50%;
  display: flex;
  justify-content: space-between;
  height: 37px;
}

.delete-btn{
  width: 45%;
  color: white;
  background-color: #C94B2F;
  padding: .5em;
  cursor: pointer;
  border: 1px solid #ebe8e7;
  border-radius: 0 0 15px 15px;
  border-top: none;
  border-radius: 8px;
 
}

.enroll-btn{
  cursor: pointer;
  width: 45%;
  padding: .5em;
  background-color: #50715C;
  color: white;
  border: 1px solid #ebe8e7;
  border-radius: 0 0 15px 15px;
  border-top: none;
  border-radius: 8px;
}

.details-left{
  width: 90%;
}

.details-right{
  width: 80%;
}

.details-right-card > p{
  font-weight: bold;
}

.fa-clock, .fa-location-dot, .fa-user{
  margin-right: 1em;
  color: #EA773E;
}

.fa-circle{
  margin-top:.45em;
}

.details-right-card{
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ebe8e7;
  border-radius: 0 0 15px 15px;
  border-top: none;
  box-shadow: 3px 3px 1px 1px rgba(0,0,0,.2);
  border-radius: 8px;
  padding: 0em 1em 0.5em 1em;
}

.enrolled > h3, .date-location > h3{
  font-size: 1.5rem;
}

.date-location{
  position: absolute;
}

.active{
  color: #E03C30;
}

.fa-caret-left, .fa-caret-right{
  font-size: 2em;
}

.fa-caret-left{
  margin-right: 2em;
}

.fa-caret-right{
  margin-left: 2em;
}

.overlay{
  background-color: transparent;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.modal-container{
  max-width: 600px;
  width: 93vw;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  border-radius: 8px;
  background-color: white;
  box-shadow: 3px 3px 0px -1px rgba(0,0,0,1);
}

.modal-form > button{
  margin-bottom: 1em;
  padding: .5em;
  background-color: white;
  box-shadow: 3px 3px 0px -1px rgba(0,0,0,1);
  border: 1px solid black;
  font-weight: bold;
}

.modal-img{
  width: 162px;
  object-fit: cover;
}

.close-btn{
  position: fixed;
  top: -10px;
  right: 8px;
  cursor: pointer;
}

.modal-form{
  margin-top: 3em;
}

.modal-form > input{
  padding: .5em;
  margin-bottom: 2em;
  width: 76%;
}

.modal-right{
  margin-left: 1em;
}

.details-left > p{
  line-height: 2em;
}

li{
  list-style: none;
}

.enrollment-card-img{
  z-index: 0;
  left: 49%;
  top: -24% !important;
  opacity: .5;
  width: 50%;
  position: relative;
}

.delete-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal-card {
  background-color: #f9f9f9;
  border-radius: 0.8rem;
  padding: 2.4rem;
  max-width: 40rem;
  text-align: center;
}

.modal-card h3 {
  margin-bottom: 1.6rem;
}

.modal-card > button {
  margin-bottom: 1em;
  padding: .5em;
  background-color: #E7723E;
  box-shadow: 3px 3px 0px -1px rgba(0,0,0,1);
  border: 1px solid black;
  font-weight: bold;
  cursor: pointer;
}

.modal-card button:hover {
  background-color: white;
}

@media(min-width:820px){
  .activity-card-container{
    flex-direction: row;
    margin-right: 1em;
  }
  .activity-card{
    flex-direction: column;
    margin-left: 1em;
  }
  .hero-section{
    flex-direction: row;
  }
}

@media(min-width: 1134px){
  .activity-card-img {
    object-fit: cover; /* Scale the image while preserving its aspect ratio */
    max-height: 200px; /* Set a maximum height for the image */
    min-height: 200px;
    width: 100%;
  }
  .bonds, .adventure, .welcome-title > p, .add-activity-btn{
    margin-left: 0;
  }
  .adventure, .bonds{
    font-size: 5rem;
  }
  .search{
    margin-left: 5em;
  }
  .activity-card {
    width: 25%;
    height: 375px;
  }
  .activity-card-container{
    margin-left: 4em;
    margin-right: 4em;
  }
  .activity-form-container{
    width: 40%;
  }
  .details-img {
    width: 50%;
}
  .details-container{
    flex-direction: row;
    margin-left: 3em;
    margin-right: 3em;
  }
  .details-left{
    width: 45%;
  }
  .details-left > h3{
    font-size: 2rem;
  }
  .details-right{
    width: 32%;
    margin-left: 17em;
  }
  .details-btns{
    width: 20%;
  }
  .welcome-title{
    margin-left: 3em;
    width: 50%;
  }

  .welcome-title > h1{
    font-size: 5rem;
  }
  .welcome-title > p{
    font-size: 1.5rem;
  }
  .upcoming-title{
    font-size: 2.5rem;
    margin-left: 2em;
  }
  .activity-hero > h1{
    font-size: 3rem;
    margin-left: 1em;
  }
  .activity-hero > p{
    margin-left: 3em;
  }
  .homepage-right-img{
    width: 30%;
    margin-top: 2em;
    margin-right: 3em;
   }
   .modal-img{
    width: 267px;
   }
   .modal-container{
    width: 100vw;
   }
   .modal-form > input{
    padding: 1em;
    width: 100%;
   }
   .modal-form{
    margin-top: 5em;
   }
   .modal-right{
    margin-left: 4em;
   }
}